<!-- need to create each answer saving the id in Question.answers and saving the req.body to Comment and save the newcomment.user = req.session.user._id-->
<a href="#!index_polls">Cancel</a>
	<h3>Edit the question and options here:</h3>
	<div ng-messages='editform.pollinput.$error' style='color:red' role='alert'>
		<div ng-message='minlength'>question must be at least 8 characters</div>
		<div ng-message="required">Poll question is required</div>
	</div>
	<div ng-messages='editform.option1.$error' style='color:purple' role='alert'>
		<div ng-message='minlength'>option one must be longer than 3 characters</div>
		<div ng-message="required">option 1 is required</div>
	</div>
	<div ng-messages='editform.option2.$error' style='color:purple' role='alert'>
		<div ng-message='minlength'>option two must be longer than 3 characters</div>
		<div ng-message="required">option 2 is required</div>
	</div>
	<div ng-messages='editform.option3.$error' style='color:purple' role='alert'>
		<div ng-message='minlength'>option three must be longer than 3 characters</div>
		<div ng-message="required">option 3 is required</div>
	</div>
	<div ng-messages='editform.option4.$error' style='color:purple' role='alert'>
		<div ng-message='minlength'>option four must be longer than 3 characters</div>
		<div ng-message="required">option 4 is required</div>
	</div>


	<form>
		<p>Question:</p>
		<textarea name='pollinput' ng-minlength='8' rows="3" cols='20' placeholder= {{"currentpoll.poll"}}  ng-model="editpoll.poll"></textarea>
		<label>Option 1: <input name='option1' ng-minlength='3' type="text" placeholder= {{"currentpoll.option1"}}  ng-model="editpoll.option1"></label>
		<label>Option 2: <input name='option2' ng-minlength='3' type="text" placeholder= {{"currentpoll.option2"}}  ng-model="editpoll.option2"></label>
		<label>Option 3: <input name='option3' ng-minlength='3' type="text" placeholder= {{"currentpoll.option3"}}  ng-model="editpoll.option3"></label>
		<label>Option 4: <input name='option4' ng-minlength='3' type="text" placeholder= {{"currentpoll.option4"}}  ng-model="editpoll.option4"></label>
		<button ng-click="edit(editpoll, currentpoll._id)">Edit Poll</button>
	</form>
